# Metadata

```         
Course:   DS 5100
Module:   11 R Programming 2
Topic:    HW on Tidyverse
Author:   R.C. Alvarado (adapted)
Date:     7 July 2023 (revised)
```

# Student Info

```         
Name:  
Net ID:
File GitHub URL:
```

# Instructions

In your **private course repo** use this notebook to write code that
performs the tasks below.

Save your notebook in the `M11` directory.

Remember to add and commit these files to your repo.

Then push your commits to your repo on GitHib.

Be sure to fill out the **Student Info** block above.

To submit your homework, save your results as a PDF and upload it to
GradeScope.

# Overview

In this homework, you will work with [the Abalone
dataset](https://archive.ics.uci.edu/ml/datasets/Abalone) from the UCI
Machine Learning Repository.

To get started, download and import the `abalone.data` dataset from this
URL:

-   <https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data>

You can pass the URL directly to `read.csv()` and that there is no
header row.

Note: The instruction to print in the questions below can be
accomplished either through the `print()` function or by displaying a
value directly.

**TOTAL POINTS: 7**

# Tasks

## Task 0

(0 points)

Get the dataset.

In [3]:
library(tidyverse)

uci_data <- "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"

df <- read.csv(uci_data, header = F)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [21]:
head(df)

  V1 V2    V3    V4    V5     V6     V7     V8    V9
1 M  0.455 0.365 0.095 0.5140 0.2245 0.1010 0.150 15
2 M  0.350 0.265 0.090 0.2255 0.0995 0.0485 0.070  7
3 F  0.530 0.420 0.135 0.6770 0.2565 0.1415 0.210  9
4 M  0.440 0.365 0.125 0.5160 0.2155 0.1140 0.155 10
5 I  0.330 0.255 0.080 0.2050 0.0895 0.0395 0.055  7
6 I  0.425 0.300 0.095 0.3515 0.1410 0.0775 0.120  8

## Task 1

(1 point)

Print the number of rows in the dataset.

In [4]:
n_rows <- dim(df)[1]
n_rows

[1] 4177

## Task 2

(1 point)

The rightmost column is the number of rings. Print the maximum number of
rings

This assumes you don't know that name of the column:

In [5]:
max(df[length(df)])

[1] 29

This assumes you do know the name of the column:

In [7]:
max(df$V9)

[1] 29

## Task 3

(1 point)

The leftmost column is the gender with these values: `M`: male, `F`:
female, `I`: infant.

Apply the `filter()` function from dplyr to select only rows where
gender is infant, and print the number of records.

**Method 1**

In [27]:
infant_rows <- df %>% 
    filter(V1 == 'I') 
dim(infant_rows)[1]

[1] 1342

In [28]:
df %>%
    filter(V1 == 'I') %>%
    dim() %>%
    .[1]

[1] 1342

**Method 2**

In [30]:
df %>%
    filter(V1 == 'I') %>%
    count() %>%
    unlist()

   n
1342

In [31]:
df %>%
  filter(V1 == 'I') %>%
  summarise(count(.)) %>%
  select(n) %>%
  unlist()

   n
1342

In [32]:
# Without Dplyr
count(df[df$V1 == 'I', ])$n

[1] 1342

In [33]:
df %>%
    filter(V1 == 'I') %>%
    mutate(n = n()) %>%
    select(n) %>%
    unique()

  n
1 1342

## Task 4

(1 point)

Apply the `filter()` function from `tidyverse` to select only rows where
gender is infant or male, and print the number of records.

In [14]:
df %>%
    filter(V1 == 'M' | V1 == 'I') %>%
    count() %>%
    unlist()

   n
2870

## Task 5

(1 point)

Call the `table()` function on the abalone genders to find out how many
of each gender are present.

Print the result.

In [15]:
table(df$V1)

   F    I    M
1307 1342 1528

## Task 6

(1 point)

Compute the mean value of column 2 (V2) grouped by gender.

V2 is the longest shell measurement.

Requirements: use the `%>%` operator to chain commands, and the
`group_by()` and `summarize()` functions.

In [16]:
df %>% 
    group_by(V1) %>%
    summarize(V2_mean = mean(V2, na.rm = TRUE), .groups = "drop")

  V1 V2_mean
1 F  0.5790933
2 I  0.4277459
3 M  0.5613907

# Task 7

(1 point)

Compute the MEDIAN value of longest shell measurement for only the
males.

Requirements: use the `%>%` operator to chain commands.

In [17]:
head(df)

  V1 V2    V3    V4    V5     V6     V7     V8    V9
1 M  0.455 0.365 0.095 0.5140 0.2245 0.1010 0.150 15
2 M  0.350 0.265 0.090 0.2255 0.0995 0.0485 0.070  7
3 F  0.530 0.420 0.135 0.6770 0.2565 0.1415 0.210  9
4 M  0.440 0.365 0.125 0.5160 0.2155 0.1140 0.155 10
5 I  0.330 0.255 0.080 0.2050 0.0895 0.0395 0.055  7
6 I  0.425 0.300 0.095 0.3515 0.1410 0.0775 0.120  8

In [18]:
shell_col <- 'V2'

In [19]:
df %>%
    filter(V1 == 'M') %>%    
    group_by(V1) %>%
    summarize(V2_median = median(V2, na.rm = TRUE), .groups = "drop") %>%
    select(V2_median)

  V2_median
1 0.58

In [19]:
df %>%
    filter(V1 == 'M') %>%    
    group_by(V1) %>%
    summarize(V2_median = median(V2, na.rm = TRUE), .groups = "drop") %>%
    select(V2_median)

  V2_median
1 0.58